<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('login') }}" title="Login" class="btn-floating green"><i class="material-icons">account_circle</i></a></li>
        {% endif %}
        <li><a href="{{ url_for('write') }}" href="" class="btn-floating green"><i class="material-icons">add</i></a></li>
        <li><a href="" class="btn-floating teal"><i class="material-icons">edit</i></a></li>
        <li><a href="" class="btn-floating red"><i class="material-icons">delete</i></a></li>
        {% if current_user.is_authenticated %}
        <li><a href="/logout" class="btn-floating blue"><i class="material-icons">exit_to_app</i></a></li>
        {% endif %}
    </ul>
</div>
