<!--simditor-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simditor/styles/simditor.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/module.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/uploader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/simditor.js') }}"></script>
