{% extends 'layout/layout.html' %}

{% block htmlclass %}{% endblock %}

{% block robots %}
    {% if not note.public %}
    <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block body %}

<div class="container note-body">
    <div class="note-title">
        <h1 class="green-text">{{ note.title }}</h1>
    </div>
    <div class="meta-info">
        <i class="material-icons">perm_identity</i> <span>{{ user.nick_name }}　</span>
        <i class="material-icons">date_range</i> <span>{{ note.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</span>
    </div>
    <div class="note-content">{{ note.content | safe }}</div>

</div>
<script src="{{ url_for('static', filename='main/js/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% include 'inc/menu.html' %}

<div class="container">
    <div class="footer">
        <a href="{{ url_for('main.index') }}">Simple Note</a>
    </div>
</div>

{% endblock %}
