{% extends 'layout/layout.html' %}
{% from 'macro/main.html' import render_pagination %}

{% block body %}

{% include 'inc/header.html' %}

<div class="container">
    <br>

    <div class="row">
        <div class="col s12">
            <div class="card-panel teal white-text">
            {% if current_user.is_authenticated %}
                Hi {{ current_user.nick_name }}!
            {% endif %}
            </div>
        </div>
    </div>

    <nav class="nav">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ url_for('main.index') }}" class="breadcrumb">Home</a>
                <a href="{{ url_for('note.show_public_notes') }}" class="breadcrumb">Notes</a>
                <a href="{{ url_for('note.show_user_notes', user=current_user.nick_name) }}" class="breadcrumb">My Notes</a>
                <a href="#!" class="breadcrumb">Current</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col s3">
            <div class="tab">
                <ul class="tabs">
                    <li class="tab col s3"><a href="{{ url_for('main.index') }}">大家的笔记</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="tab col s3"><a href="{{ url_for('note.show_user_notes', user=current_user.nick_name) }}">我的笔记</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        {% for note in notes %}
        <div class="col s4">
            <div class="note-card note-card-{{ number }} card">
                <div class="card-content">
                    <span class="card-title truncate">
                        <a class="green-text" title="{{ note.title }}" href="{{ getNoteUrl(note) }}">{{ note.title }}</a>
                    </span>
                    <p class="desc">{{ note.content | truncate(length=500) | striptags }}</p>
                </div>
                <div class="card-action white">
                    <span class="user teal-text">
                        <i class="material-icons">perm_identity</i>
                        <em>{{ note.user.getDisplayName() }}</em>
                    </span>
                    <!--<a href class="favor teal-text">
                        <i class="material-icons">thumb_up</i>
                        <em>10</em>
                    </a>-->

                    <!--login-->
                    {% if current_user.is_authenticated and current_user.id == note.user_id %}
                    <a href="{{ url_for('note.edit', id=note.id) }}">
                        <i class="material-icons teal-text">edit</i>
                    </a>
                    <a href="{{ url_for('note.delete', id=note.id) }}">
                        <i class="material-icons teal-text">delete</i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col s12 center">
        {% if isUserNote %}
        {{ render_pagination(pagination, 'note.show_user_notes', page, current_user.nick_name) }}
        {% else %}
        {{ render_pagination(pagination, 'note.show_page_note', page, current_user.nick_name) }}
        {% endif %}
    </div>
</div>


{% include 'inc/menu.html' %}

{% endblock %}
