{% extends 'layout/layout.html' %}

{% block body %}

{% include 'inc/header.html' %}

<div class="container">
    <br>
    {% if current_user.is_authenticated %}
        Hi {{ current_user.nick_name }}!
    {% endif %}
    <div class="row">
        {% for note in notes %}
        <div class="col s4">
            <div class="note-card note-card-{{ number }} card">
                <div class="card-content">
                    <span class="card-title truncate">
                        <a class="green-text" title="{{ note.title }}" href="{{ getNoteUrl(note) }}">{{ note.title }}</a>
                    </span>
                    <p class="desc">{{ note.content | truncate(length=500) | striptags }}</p>
                </div>
                <div class="card-action white">
                    {% if not current_user.is_authenticated %}
                    <span class="user teal-text">
                        <i class="material-icons">perm_identity</i>
                        <em>{{ note.user.getDisplayName() }}</em>
                    </span>
                    <a href class="favor teal-text">
                        <i class="material-icons">thumb_up</i>
                        <em>10</em>
                    </a>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                    <span class="teal-text">
                        <i class="material-icons">public</i>
                        {% if note.public %}public{% else %}private{% endif %}
                    </span>
                    {% endif %}
                    <!--login-->
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('note.edit', id=note.id) }}">
                        <i class="material-icons teal-text">edit</i>
                    </a>
                    <a href="{{ url_for('note.delete', id=note.id) }}">
                        <i class="material-icons teal-text">delete</i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'inc/pagination.html' %}

{% include 'inc/menu.html' %}

{% endblock %}
