{% extends 'layout/layout.html' %}
{% from 'macro/main.html' import get_flash_message_html, render_field %}

{% block body %}
{% include 'inc/header.html' %}

<div class="container">
    <br>

    <div class="row">
        <form class="col s6 push-s3" action="{{ url_for('user.login') }}" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="row">
                {% for category, message in messages %}
                <div class="col s12 valign-wrapper white-text">
                    {{ get_flash_message_html(category, message) }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="row">
                <div class="input-field col s12">
                    {{ render_field(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ render_field(form.password) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field" style="margin-top:0;margin-bottom:1rem">
                    {{ render_field(form.remember) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light btn">Log in</button>
                    &#x3000;new guy? <a href="{{ url_for('user.signup') }}">Sign up</a>
                </div>
            </div>
        </form>
    </div>

</div>

{% include 'inc/menu.html' %}

{% endblock %}
